<div class="landingpage__section">
    <header class="hero__header">
        <img src="../../assets/maitamalogo.png" alt="" width="212" height="50">
    </header>
  <div class="hero" id="hero">
        <div class="hero__main">
          <div class="hero__left">
            <h1
              class="larger__text"
              data-aos="fade-down"
              data-aos-easing="ease-out-cubic"
              data-aos-duration="3000"
            >
            Vaccine <span style="color: #E94085;">Appointment</span> Platform
            </h1>
            <div
              class="head__one"
              data-aos="zoom-in-up"
              data-aos-easing="ease-out-cubic"
              data-aos-duration="1000"
            >Safeguarding our community by promoting vaccination, one shot at a time. Upholding the well-being of our community through the power of vaccinations.
            </div>
            <div class="ctn__btn">
              <a
              class="hero__btn"
              data-aos="fade-in"
              data-aos-duration="1500"
              (click)="getStarted()">
              Get Started
            </a>
            </div>
        </div>
        <div class="hero__right">
            <!-- <img src="../../assets/heropic.png" alt="" width="90%"> -->
        </div>
      
    </div>
</div>
</div>
