<div class="sidebar__section">
    <div class="sidebar__container">
      <div class="sidebar__body">
          <div class="logo" (click)="onLandingpage()">
            <img src="../../assets/sidebarlogo.svg" alt="" width="70%" style="cursor: pointer;">
          </div>
          <div class="sidebar__links">
            <div class="nav__links">
                <img src="../../assets/dasshboard.svg" alt="">
                <a href="">Dashboard</a>
            </div>
            <div class="nav__links">
                <img src="../../assets/Profille.svg" alt="">
                <a href="">Profile</a>
            </div>
            <div class="nav__links">
                <img src="../../assets/chat.svg" alt="">
                <a href="">Message</a>
            </div>
            <div class="nav__links">    
                <img src="../../assets/schedule.svg" alt="">
                <a href="">Schedule Appointment</a>
            </div>
            <div class="nav__links">     
                <img src="../../assets/finder.svg" alt="">
                <a href="">Vaccine Finder</a>
            </div>
            <div class="nav__links">
                <img src="../../assets/consult.svg" alt="">
                <a href="">Consultation</a>
            </div>
          </div>
      </div>
      <div class="log__out">
        <div class="nav__links">
            <img src="../../assets/loggout.svg" alt="">
            <a href="">Log Out</a>
        </div>
        <div class="sidebar__bottom">
            <img src="" alt="">
        </div>
      </div>
    </div>
  </div>

