<div class="sign__up">
  <div class="sign__upContainer">
    <div class="sign__upLeft">
      <header class="hero__header">
        <img
          src="../../assets/maitamalogo.png"
          alt=""
          width="212"
          height="50"
        />
      </header>
      <div class="upLeft__body">
        <div class="upLeft__top">
            <div class="upLeft__title">
                Sign up to access Maitama <span style="color: #e94085">Portal</span>
            </div>
            <div class="upLeft__mid">
                Sign up to gain entry to a comprehensive range of resources and
                information pertaining to various aspects of COVID-19.
            </div>
        </div>
        <div class="upLeft__bottom">
          <div class="upLeft__bottomlists">
            <img src="../../assets/mark.png" alt="" />
            <p>Comprehensive range of resources.</p>
          </div>
          <div class="upLeft__bottomlists">
            <img src="../../assets/mark.png" alt="" />
            <p>Information pertaining to various aspects of COVID-19.</p>
          </div>
          <div class="upLeft__bottomlists">
            <img src="../../assets/mark.png" alt="" />
            <p>Schedule vaccine appointments</p>
          </div>
          <div class="upLeft__bottomlists">
            <img src="../../assets/mark.png" alt="" />
            <p>Mobile vaccination for homeless patients</p>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <div class="sign__upRight">
      <div class="upRight__body">
        <div class="form__top">
          <div class="form__title">Create your Maitama Portal</div>
          <div class="form__description">
            Sign up now for our Covid-19 Alert System
          </div>
        </div>

        <form action="">
            <div class="form__body">
                <div class="form__up">
                    <input type="text" name="Username" value="Username" />
                    <input type="text" name="Passsword" value="Passsword" />
                    <input type="text" name="Confirm password" value="Confirm password" />
                </div>
                <div class="form__down">
                    <button class="signup__btn" (click)="onSignup()">Create an Account</button>
                </div>
            </div>
           <p>Have an account? <a href="" (click)="onSignin()">Sign In</a></p> 
        </form>
      </div>
    </div>
  </div>
</div>
