
<div class="screen___one">
    <div class="screen___oneContainer">
        <div class="screenone__top">
            <header class="hero__header">
                <img src="../../assets/maitamalogo.png" alt="" width="212" height="50">
            </header>
        </div>
        <div class="screenone__bottom">
            <div class="screenone__left">
                <img src="../../assets/screenonepic.png" alt="" width="70%">
            </div>
            <div class="screenone__right">
                <div class="screenone__body">
                    <div class="screen__bodyTop">
                       <p class="screen__title">01</p>
                    </div>
                    <div class="screen__bodyMid">
                        <div class="mid__title">Welcome to Maitama COVID Vaccination Appointment Platform </div>
                        <div class="mid__body">As we continue to navigate through this pandemic, we understand how important it is to prioritize the health and safety of our community. Our portal offers easy-to-use features to help you find available appointments and schedule your vaccine doses at a time that works for you.</div>
                    </div>
                    <div class="screen__bodyBottom">
                        <button class="button__one" (click)="onSkip()">Skip</button>
                        <button class="button__two" (click)="onNext()">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>