<div class="dashboard">
    <div class="dashboard__container">
        <div class="dash__left">
            <app-sidebar></app-sidebar>
        </div>
        <div class="dash__right">
            <div class="dash__rightBody">
                <div class="dash__rightUp">
                    <app-header></app-header>
                </div>
                <div class="dash__rightBottom">
                    <app-welcome-text></app-welcome-text>
                    <div class="card__section">
                        <app-card-one></app-card-one>
                        <app-card-one></app-card-one>
                        <app-card-one></app-card-one>
                        <app-card-one></app-card-one>
                    </div>

                 
                    <!-- <app-sign-up></app-sign-up> -->

                    <!-- <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Patient's Name</th>
                                <th>Vaccine Type</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr>
                                <td>12/05/2024</td>
                                <td>David Rebecca</td>
                                <td>Fully vaccinated</td>
                                <td>Pending</td>
                                <td>
                                    <button>View</button>
                                </td>
                            </tr>
                            <tr>
                                <td>12/05/2024</td>
                                <td>David Rebecca</td>
                                <td>Fully vaccinated</td>
                                <td>Pending</td>
                                <td>
                                    <button>View</button>
                                </td>
                            </tr>
                            <tr>
                                <td>12/05/2024</td>
                                <td>David Rebecca</td>
                                <td>Fully vaccinated</td>
                                <td>Pending</td>
                                <td>
                                    <button>View</button>
                                </td>
                            </tr>
                            <tr>
                                <td>12/05/2024</td>
                                <td>David Rebecca</td>
                                <td>Fully vaccinated</td>
                                <td>Pending</td>
                                <td>
                                    <button>View</button>
                                </td>
                            </tr>
                        </tbody>
                       
                    </table> -->


                    
                </div>
            </div>
            <div class="notify__section">
                <div class="notify__container">
                   <div class="notify__body">
                    <h4>Notification</h4>
                    <div class="notify__card">
                        <p>Heading</p>
                        <p>Short description</p>
                    </div>
                   </div> 
                </div>
            </div>
        </div>
    </div>
</div>
