<div class="screen___one">
    <div class="screen___oneContainer">
        <div class="screenone__top">
            <header class="hero__header">
                <img (click)="onLanding()"
                 src="../../assets/maitamalogo.png" alt="" width="212" height="50">
            </header>
        </div>
        <div class="screenone__bottom">
            <div class="screenone__left">
                <img src="../../assets/threepic.png" alt="" width="70%">
            </div>
            <div class="screenone__right">
                <div class="screenone__body">
                    <div class="screen__bodyTop">
                       <p class="screen__title">03</p>
                    </div>
                    <div class="screen__bodyMid">
                        <div class="mid__title">
                            We are dedicated to providing a streamlined and efficient process for scheduling your COVID vaccine appointments.
                        </div>
                        <div class="mid__body"> We are committed to supporting our community every step of the way. Thank you for choosing our portal, and let's work together to stay healthy and safe.</div>
                        <div class="screen__bodyBottom">
                            <button class="button__one" (click)="onPreviouss()">Previous</button>
                            <button class="button__two" (click)="onProceed()">Proceed</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

